<!-- Begin Carousel-->
<div id="content">
    <div class="swiper-outer-container">
        <div class="swiper-container">

            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">

                <!-- Begin Slides -->
                <div class="swiper-slide">
                    <img src="images/300_1.jpg" alt="Placebear" />
                    <span class="slide-title">Slide 1</span>
                </div>
                <div class="swiper-slide">
                    <img src="images/red.jpg" alt="Placebear" />
                    <span class="slide-title">Slide 2</span>
                </div>
                <div class="swiper-slide">
                    <img src="images/301.jpeg" alt="Placebear" />
                    <span class="slide-title">Slide 3</span>
                </div>
                <div class="swiper-slide">
                    <img src="images/300.jpeg" alt="Placebear" />
                    <span class="slide-title">Slide 4</span>
                </div>
                <!-- End Standard Slides-->

            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
</div>
<!-- End Carousel-->
<!-- Begin Form -->
<form action="">
    <ul id="sub-nav">
        <li class="sub-nav-item"><a ui-sref="main.home.general"  data-group="General" >General</a></li>
        <li class="sub-nav-item"><a ui-sref="main.home.freemode" data-group="FreeMode" active>Free Mode</a></li>
        <li class="sub-nav-item"><a ui-sref="main.home.effect" data-group="Effect" >Effect</a></li>
        <li class="sub-nav-item"><a ui-sref="main.home.spacing" data-group="Spacing" >Spacing/Grouping</a></li>
        <li class="sub-nav-item"><a ui-sref="main.home.touch" data-group="Touch">Touch</a></li>
        <li class="sub-nav-item"><a ui-sref="main.home.other" data-group="Other" >Other</a></li>
    </ul>
    <div id="Options" ui-view="options"></div>
</form>
<!-- End Form -->
