<!-- Begin Carousel-->
<div id="content">
    <div class="swiper-outer-container">
        <div class="swiper-container">

            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">

                <!-- Begin Slides -->
                <div class="swiper-slide">
                    <img src="images/300_1.jpg" alt="Placebear" />
                    <span class="slide-title">Slide 1</span>
                </div>
                <div class="swiper-slide">
                    <img src="images/red.jpg" alt="Placebear" />
                    <span class="slide-title">Slide 2</span>
                </div>
                <div class="swiper-slide">
                    <img src="images/301.jpeg" alt="Placebear" />
                    <span class="slide-title">Slide 3</span>
                </div>
                <div class="swiper-slide">
                    <img src="images/300.jpeg" alt="Placebear" />
                    <span class="slide-title">Slide 4</span>
                </div>
                <!-- End Standard Slides-->

            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
</div>
<!-- End Carousel-->
<!-- Begin Form -->
<form action="">
    <ul id="sub-nav" ng-init="active = 'general'">
        <li class="sub-nav-item"><a ng-class="{'active' : active == 'general'}" ui-sref="main.general"  data-group="General" ng-click="active='general'">General</a></li>
        <li class="sub-nav-item"><a ng-class="{'active' : active == 'freeMode'}" ui-sref="main.freemode" data-group="FreeMode" ng-click="active='freeMode'">Free Mode</a></li>
        <li class="sub-nav-item"><a ng-class="{'active' : active == 'effect'}" ui-sref="main.effect" data-group="Effect" ng-click="active='effect'">Effect</a></li>
        <li class="sub-nav-item"><a ng-class="{'active' : active == 'spacing'}" ui-sref="main.spacing" data-group="Spacing" ng-click="active='spacing'">Spacing/Grouping</a></li>
        <li class="sub-nav-item"><a ng-class="{'active' : active == 'touch'}" ui-sref="main.touch" data-group="Touch" ng-click="active='touch'">Touch</a></li>
        <li class="sub-nav-item"><a ng-class="{'active' : active == 'other'}" ui-sref="main.other" data-group="Other" ng-click="active='other'">Other</a></li>
    </ul>
    <div id="Options" ui-view="options"></div>
</form>
<!-- End Form -->
