<section id="General" class="option-group small-12">
    <div class="label-container">
        <label for="initialSlide">
            Initial Slide
            <br/>
            <input id="initialSlide" type="number" ng-model="options.initialSlide" min="0" max="{{mySwiper.slidesGrid.length -3}}" ng-change="change()"/>
        </label>
    </div>
    <div class="label-container">
        <label>
            Direction
            <br/>
            <input type="radio" ng-model="options.direction" value="vertical" ng-change="change()">
            Vertical
        </label>
        <label>
            <input type="radio" ng-model="options.direction" value="horizontal" ng-change="change()">
            Horizontal
        </label>
    </div>
    <div class="label-container">
        <label for="speed">
            Speed
            <br/>
            <input id="speed" type="number" ng-model="options.speed" value="300" ng-change="change()"/>
        </label>
    </div>
    <div class="label-container">
        <label for="loop">
            Loop
            <br/>
            <select name="loop" id="loop" ng-model="options.loop" ng-change="change()">
                <option value="1">True</option>
                <option value="">False</option>
            </select>
        </label>
    </div>
    <div class="label-container">
        <label for="autoplay">
            Autoplay (delay in ms between transitions)
            <br/>
            <input id="autoplay" type="number" ng-model="options.autoplay" value="" ng-change="change()"/>
        </label>
    </div>
    <div class="label-container">
        <label for="autoplayDisableOnInteraction">
            Disable Autoplay On Interaction
            <br/>
            <select name="autoplayDisableOnInteraction" id="autoplayDisableOnInteraction" ng-model="options.autoplayDisableOnInteraction" ng-change="change()">
                <option value="1">Yes</option>
                <option value="">No</option>
            </select>
        </label>
    </div>
    <div class="label-container">
        <label for="watchSlidesProgress">
            Watch Slides Progress
            <br/>
            <select name="watchSlidesProgress" id="watchSlidesProgress" ng-model="options.watchSlidesProgress" ng-change="change()">
                <option value="1">Yes</option>
                <option value="">No</option>
            </select>
        </label>
    </div>
</section>
