/* CTA Styling
//////////////////////////////////
*/
body,
body *, {
  a {
    color: $font-second;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
  }
}
a.btn {

}
