header {
  background-color: $third;
  padding: 0;
  margin:0;
  border-bottom: 3px solid $second;
  h1 {
    color: $font-second;
    margin:0;
    padding: 10px 0px 10px 0px;
    text-align: center;
    //box-shadow: $shadow;
  }
  nav {
    z-index: -1;
    position: fixed;
    top:0;
    left:0;
    width:100px;
    padding:10px;
    height:100%;
    background-color: $third;
    padding-top:60px;
    box-shadow: $shadow;
    ul {
      list-style-type: none;
      margin:0;
      padding:0;
      li, a{
        color: $font-second;
        list-style-type: none;
        margin:0;
        padding:0;
      }
    }
  }
}