$carouselWidth: 500px;
$carouselHeight: 315px;

h1, h2, h3, h4, h5, h6 {
  color: darkgrey;
}
// Pending Wheel
#content {
  width:100%;
  height:$carouselHeight;
  overflow: hidden;
}
.pending {
  text-align: center;
  height:$carouselHeight;
  img {
    height: 100%;
  }
}
.swiper-container {
  width: 500px;
  height: $carouselHeight;
  overflow: hidden;
  .swiper-slide {
    overflow: hidden;
  }
}
.label-container {
  border-bottom: 1px solid darkgrey;
}
//@import "Retina";
@import "Swiper";
@import "Questions";
@import "Media";

