<h4>Carousel</h4>
<div class="pending"></div>
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            Slide 1 <br />
            <img src="images/300.jpeg" alt="Placebear" />
        </div>
        <div class="swiper-slide">
            Slide 2 Change <br />
            <img src="images/300 (1).jpeg" alt="Placebear" />
        </div>
        <div class="swiper-slide">
            Slide 3  <br />
            <img src="images/301.jpeg" alt="Placebear" />
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <!--<div class="swiper-scrollbar"></div>-->
</div>