<!-- Begin Carousel-->
<div id="content" ui-view="carousel">
    <div class="swiper-outer-container">
        <div class="swiper-container">

            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">

                <!-- Begin Slides -->
                <div class="swiper-slide">
                    <img src="images/300_1.jpg" alt="Placebear" />
                    <span class="slide-title">Slide 1</span>
                </div>
                <div class="swiper-slide">
                    <img src="images/red.jpg" alt="Placebear" />
                    <span class="slide-title">Slide 2</span>
                </div>
                <div class="swiper-slide">
                    <img src="images/301.jpeg" alt="Placebear" />
                    <span class="slide-title">Slide 3</span>
                </div>
                <div class="swiper-slide">
                    <img src="images/300.jpeg" alt="Placebear" />
                    <span class="slide-title">Slide 4</span>
                </div>
                <!-- End Standard Slides-->

            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
</div>
<!-- End Carousel-->

<!-- Begin Form -->
<form action="">
    <ul id="sub-nav">
        <li class="sub-nav-item">
            <a ui-sref="options/General"  data-group="General" >General</a>
            <!--<ul class="options-group">-->
                <!--<li class="option">Thing 1</li>-->
                <!--<li class="option">Thing 2</li>-->
                <!--<li class="option">thing 3</li>-->
                <!--<li class="option">Thing 4</li>-->
            <!--</ul>-->
        </li>
        <li class="sub-nav-item"><a ui-sref="options/FreeMode" data-group="FreeMode" active>Free Mode</a></li>
        <li class="sub-nav-item"><a ui-sref="options/Effect" data-group="Effect" >Effect</a></li>
        <li class="sub-nav-item"><a ui-sref="options/Spacing" data-group="Spacing" >Spacing/Grouping</a></li>
        <li class="sub-nav-item"><a ui-sref="options/Touch" data-group="Touch">Touch</a></li>
        <li class="sub-nav-item"><a ui-sref="options/Other" data-group="Other" >Other</a></li>
    </ul>
    <ul id="Options Groupings" ui-view="options">
    </ul>
</form>
<!-- End Form -->
