<div class="container">
  <p>Inder into the <span class="partial-pre">&lt;head&gt;</span></p>
  <pre>&lt;link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.x.x/css/swiper.min.css"&gt;</pre>
  <p>Insert somewhere into the <span class="partial-pre">&lt;body&gt;</span> tag.</p>
  <pre>&lt;div class="swiper-container"&gt;

      &lt;!-- Additional required wrapper --&gt;
      &lt;div class="swiper-wrapper"&gt;

          &lt;!-- Begin Slides --&gt;
          &lt;div class="swiper-slide"&gt;
              &lt;img src="images/300_1.jpg" alt="Placebear" /&gt;
              &lt;span class="slide-title"&gt;Slide 1&lt;/span&gt;
          &lt;/div&gt;
          &lt;div class="swiper-slide"&gt;
              &lt;img src="images/red.jpg" alt="Placebear" /&gt;
              &lt;span class="slide-title"&gt;Slide 2&lt;/span&gt;
          &lt;/div&gt;
          &lt;div class="swiper-slide"&gt;
              &lt;img src="images/301.jpeg" alt="Placebear" /&gt;
              &lt;span class="slide-title"&gt;Slide 3&lt;/span&gt;
          &lt;/div&gt;
          &lt;div class="swiper-slide"&gt;
              &lt;img src="images/300.jpeg" alt="Placebear" /&gt;
              &lt;span class="slide-title"&gt;Slide 4&lt;/span&gt;
          &lt;/div&gt;
          &lt;!-- End Standard Slides--&gt;
      &lt;/div&gt;
      &lt;!-- End additional wrapper --&gt;

      &lt;!-- If we need pagination --&gt;
      &lt;div class="swiper-pagination"&gt;&lt;/div&gt;

      &lt;!-- If we need navigation buttons --&gt;
      &lt;div class="swiper-button-prev"&gt;&lt;/div&gt;
      &lt;div class="swiper-button-next"&gt;&lt;/div&gt;

      &lt;!-- If we need scrollbar --&gt;
      &lt;div class="swiper-scrollbar"&gt;&lt;/div&gt;
&lt;/div&gt;</pre>
  <p>Insert just before the closing <span class="partial-pre">&lt;/body&gt;</span> tag</p>
  <pre>&lt;script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.1.2/js/swiper.min.js"&gt;&lt;/script&gt;
    &lt;script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.x.x/js/swiper.jquery.min.js"&gt;&lt;/script&gt;
    &lt;script&gt;
      $(document).ready(function () {
        var options = {{ printOptions(cleanOptions(standardOptions, options)) }}
        mySwiper = new Swiper ('.swiper-container', options)
      });
    &lt;/script&gt;</pre>
</div>
